<!DOCTYPE html>
<html>
<head>
	<title>Bootstrap Material Admin</title>
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css" id="theme-stylesheet">
</head>
<body>
<div class="page login-page">
	<div class="container d-flex align-items-center">
		<div class="form-holder has-shadow">
			<div class="row">
				<!-- Logo & Information Panel-->
				<div class="col-lg-6">
					<div class="info d-flex align-items-center">
						<div class="content">
							<div class="logo">
								<h1>游迹</h1>
							</div>
							<p>用心记录你的旅游痕迹</p>
						</div>
					</div>
				</div>
				<!-- Form Panel    -->
				<div class="col-lg-6 bg-white">
					<div class="form d-flex align-items-center">
						<div class="content">

							<div class="logo">
								<h1>注册</h1><p/>
							</div>
							<div class="form-group">
								<input id="register-username" class="input-material" type="text" name="userName" placeholder="请输入用户名/姓名" >
								<div class="invalid-feedback">
									用户名必须在2~10位之间
								</div>
							</div>
							<div class="form-group">
								<input id="register-password" class="input-material" type="password" name="password" placeholder="请输入密码"   >
								<div class="invalid-feedback">
									密码必须在6~10位之间
								</div>
							</div>
							<div class="form-group">
								<input id="register-passwords" class="input-material" type="password" name="rePassword" placeholder="确认密码"   >
								<div class="invalid-feedback">
									两次密码必须相同 且在6~10位之间
								</div>
							</div>

							<div class="form-group">
								<button id="regbtn" type="submit" name="registerSubmit" class="btn btn-primary">注册</button>
								<div style="margin-top: -15px;margin-left: 50%">
									<small>已有账号?</small><a href="login" class="signup">&nbsp;登录</a>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="js/jquery-3.5.1.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script>
	$(function(){
		var flagName=false;
		var flagPas=false;
		var flagPass=false;
		var userName,password,passwords;

		$("#register-username").change(function(){
			userName=$("#register-username").val();
			if(userName.length<2||userName.length>10){
				$("#register-username").removeClass("form-control is-valid")
				$("#register-username").addClass("form-control is-invalid");
				flagName=false;
			}else{
				$("#register-username").removeClass("form-control is-invalid")
				$("#register-username").addClass("form-control is-valid");
				flagName=true;
			}
		})
		/*验证密码*/
		$("#register-password").change(function(){
			password=$("#register-password").val();
			if(password.length<6||password.length>18){
				$("#register-password").removeClass("form-control is-valid")
				$("#register-password").addClass("form-control is-invalid");
				flagPas=false;
			}else{
				$("#register-password").removeClass("form-control is-invalid")
				$("#register-password").addClass("form-control is-valid");
				flagPas=true;
			}
		})
		/*验证确认密码*/
		$("#register-passwords").change(function(){
			passwords=$("#register-passwords").val();
			if((password!=passwords)||(passwords.length<6||passwords.length>18)){
				$("#register-passwords").removeClass("form-control is-valid")
				$("#register-passwords").addClass("form-control is-invalid");
				flagPass=false;
			}else{
				$("#register-passwords").removeClass("form-control is-invalid")
				$("#register-passwords").addClass("form-control is-valid");
				flagPass=true;
			}
		})

		$("#regbtn").click(function(){
			if(flagName&&flagPas&&flagPass){
				$.ajax({
					url: "/userReg",
					type: "post",
					data: {
						userName: userName,
						password: password
					},
					success: function (data) {
						if (data == "true") {
							alert("注册成功！")
							window.location.href="/login";
						} else if (data == "reName") {
							alert("该用户名已注册！")
						}
					},
					error: function (jqXHR, textStatus, errorThrown) {
						alert("注册失败！")
					}
				})
			}else{
				if(!flagName){
					$("#register-username").addClass("form-control is-invalid");
				}
				if(!flagPas){
					$("#register-password").addClass("form-control is-invalid");
				}
				if(!flagPass){
					$("#register-passwords").addClass("form-control is-invalid");
				}
			}
		})
	})
</script>
</body>
</html>